---
---

// variables

$base-transition: 0.2s cubic-bezier(0.77, 0, 0.175, 1);
$quick-transition: 0.1s cubic-bezier(0.77, 0, 0.175, 1);

$card-width: 80px;
$card-height: $card-width * 35/25; // netrunner/magic aspect ratio
$card-corner-radius: $card-width * 0.06;
$card-border-size: 2px;

$card-shadow-color: rgba(0,0,0,0.1);
$card-shadow: 0 1px 10px $card-shadow-color;
$card-shadow-active: 0 10px 20px $card-shadow-color;

$card-pickup-height: $card-width * 1;

$card-inset-magnification: 1.5;

.kaado-container {
	perspective-origin: center bottom;
	perspective: 2000;
	-webkit-user-select: none;
}

.kaado-play-area,
.kaado-card-area,
.kaado-deck,
.kaado-hand {
  transition: all $quick-transition;
  box-sizing: content-box;
  font-size: 0;

	.ui-sortable-placeholder {
  	width: $card-width;
  	height: $card-height;
  	border-radius: $card-corner-radius;
  	box-sizing: content-box;
  	visibility: visible !important;
	}
}

.kaado-play-area {
  .kaado-card {
		position: absolute;
  }
}

.kaado-deck {
	width: $card-width;
	height: $card-height;
	
	.kaado-card {
		position: absolute;
	}
}

.kaado-hand {
	min-height: $card-height;
}

.kaado-loupe {
	width: $card-width * $card-inset-magnification;
	height: $card-height * $card-inset-magnification;
	border-radius: $card-corner-radius * $card-inset-magnification;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.kaado-card {
  display: inline-block;
	width: $card-width;
	height: $card-height;
	border-radius: $card-corner-radius;
	box-sizing: content-box;
	margin: (-$card-border-size) 0 0 (-$card-border-size);
	border: $card-border-size solid rgba(255,255,255,0);
	transition: border $quick-transition;
	transform-origin: center center;
	transform: translateZ(0);
	transform-style: preserve-3d;
	
	&.hover {
		cursor: -webkit-grab;
		border: $card-border-size solid rgba(255,255,255,1);
	}
	
	&.active {
		cursor: -webkit-grabbing;
		
		.card-shadow {
			transform: translateY(10px) scale(1.25);
		}
	}
		
	.card-shadow,
	.card-height-wrapper,
	.card-rotation-wrapper,
	.card,
	.front,
	.back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform-origin: center center;
		transition: transform $base-transition;
	}
	
  .card-height-wrapper,
	.card-rotation-wrapper {
  	transform-style: preserve-3d;
	}

	.card {
		transform-style: preserve-3d;
		transform-origin: center center;
		
		.front, 
		.back {
			border-radius: $card-corner-radius;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			-webkit-backface-visibility: hidden;
		}
		.back {
			transform: rotateY(180deg);
		}
	}
	
	.card-shadow {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		transition: all $base-transition;
		background-image: url('card-shadow.png');
	}
	
	&.facedown {
		.card {
			transform: rotateY(-180deg);
		}
	}
}