---
---
@charset "utf-8";

@import 'vendor/normalize';

@import 'base/root';


// colors
$background-color: #fff;
$key-color: #263238;
$accent-color: #E91E63;

// variables
$card-width: 120px;
$card-height: $card-width * 35/25;
$card-corner-radius: $card-width * 0.05;

body {
	position: absolute;
	background-color: $background-color;
	color: $key-color;
	width: 100%;
	height: 100%;
}

.play-area {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 40px;
	perspective: 1500;
	-webkit-user-select: none;
}

.deck {
}

.card {
	position: absolute;
	width: $card-width;
	height: $card-height;
	transform-style: preserve-3d;
	transform-origin: center center;
	transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
	
	&:hover {
		cursor: -webkit-grab;
	}
	
	&:active {
		cursor: -webkit-grabbing;
		transform: translateZ(200px);
	}
	
	&.facedown {
		transform: rotateY(180deg);
	}
	
	.front, 
	.back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: $card-corner-radius;
		-webkit-backface-visibility: hidden;
		transform-origin: center center;
	}
	
	.front {
		background-image: url('../images/oaktown.png');
	}
	.back {
		transform: rotateY(180deg);
		background-image: url('../images/cardback-corp.png');
	}
}