---
---
@charset "utf-8";

@import 'vendor/normalize';

@import 'base/root';


// colors
$background-color: #263238;
$background-color-offset: #37474F;
$key-color: #263238;
$accent-color: #E91E63;
$shadow-color: rgba(0,0,0,0.1);

// variables
$card-width: 120px;
$card-height: $card-width * 35/25;
$card-corner-radius: $card-width * 0.05;
$card-shadow: 0 1px 10px $shadow-color;
$card-shadow-active: 0 10px 20px $shadow-color;

$spacing-unit: 20px;
$base-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
$quick-transition: 0.1s cubic-bezier(0.77, 0, 0.175, 1);

body {
	position: absolute;
	background-color: $background-color;
	color: $key-color;
	width: 100%;
	height: 100%;
}

.play-area {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 40px;
	perspective: 2500;
	-webkit-user-select: none;
}

.card-area {
	position: absolute;
	background-color: $background-color-offset;
	border-radius: 10px;
	padding: 20px;
	
	&.deck-area {
		top: $spacing-unit;
		left: $spacing-unit;
		width: $card-width + $spacing-unit*2;
		height: $card-height + $spacing-unit*2;
	}
	
	&.hand-area {
		bottom: $spacing-unit;
		left: $spacing-unit;
		right: $spacing-unit;
		height: $card-height + $spacing-unit*2;
	}
}

.card-element {
	position: absolute;
	width: $card-width;
	height: $card-height;
	transform-origin: center center;
	border-radius: $card-corner-radius;
	box-sizing: content-box;
	margin: -2px 0 0 -2px;
	transition: border $quick-transition;
	border: 2px solid rgba(255,255,255,0);
	transform: translateZ(0);
	transform-style: preserve-3d;
	
	&:hover {
		cursor: -webkit-grab;
		border: 2px solid rgba(255,255,255,1);
	}
	
	&:active {
		cursor: -webkit-grabbing;
		
		.card-position-wrapper {
			transform: translateZ(200px) rotateX(-15deg);
		}
		
		.card-shadow {
			transform: translateY(10px) scale(1.25);
		}
	}
		
	.card-shadow,
	.card-position-wrapper,
	.card,
	.front,
	.back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform-origin: center center;
		transition: all $base-transition;
	}
	
	.card {
		transform-style: preserve-3d;
		transform-origin: center center;
		
		.front, 
		.back {
			border-radius: $card-corner-radius;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			-webkit-backface-visibility: hidden;
		}
		
		.front {
			
		}
		.back {
			transform: rotateY(180deg);
			background-image: url('../images/cardback-runner.png');
		}
		
	}
	
	.card-shadow {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		transition: all $base-transition;
		background-image: url('../images/card-shadow.png');
		transform: translateZ(-1px);
	}
	
	&.facedown {
		.card {
			transform: rotateY(-180deg);
		}
	}
	
}