<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

  {% include head.html %}

  <body>

    <main class="main play-container" aria-label="Content">
      {{ content }}
    </main>

		<script src="assets/js/jquery-3.1.1.min.js"></script>
		<script src="assets/js/jquery-ui.min.js"></script>
		<script src="assets/js/jquery-ui-touch-punch.min.js"></script>
		<script src="assets/js/netrunner.js"></script>
		<script src="assets/js/kaado.js"></script>
  </body>

</html>
