<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

  {% include head.html %}

  <body>

    <main class="main play-area" aria-label="Content">
      {{ content }}
    </main>

		<script src="{{ "/assets/js/jquery-3.1.1.min.js" | relative_url }}"></script>
		<script src="{{ "/assets/js/jquery-ui.min.js" | relative_url }}"></script>
		<script src="{{ "/assets/js/jquery-ui-touch-punch.min.js" | relative_url }}"></script>
		<script src="{{ "/assets/js/netrunner.js" | relative_url }}"></script>
		<script src="{{ "/assets/js/kaado.js" | relative_url }}"></script>
  </body>

</html>
